body {
    place-items: center;
    margin: 0;
    background-color: white;
}

#contenedor-juego {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    max-width: 400px;
    margin: 20px auto; /* Se utiliza "auto" para centrar horizontalmente */
}

.cell {
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}

.light-blue {
    background-color: #2a6496;
}

.dark-blue {
    background-color: #004080;
}

.number-style {
    font-size: 24px;
    color: black;
    font-family: Arial;
    display: inline-block;
    margin-top: 0;
}
